@import "index";

.header {
  padding: 15px 0 25px;
  background: #000000;
  font-weight: bold;
  color: white;

  .container {
    @include for-phone-only {
      flex-direction: column;
      height: auto;
      margin: auto;
    }
  }

  .header-info {
    display: flex;
    align-items: center;
    @include for-tablet-portrait-up {
      flex-direction: column;
    }
  }

  .logo {
    height: 26px;
    cursor: pointer;
    padding: 0 16px;
  }

  ul {
    margin: 8px 0;

    li {
      display: inline;
      padding: 5px;
      font-size: 15px;
      cursor: pointer;

      &:hover {
        text-decoration: underline;

      }
    }
  }

  .header-button {
    border-radius: 12px;
    cursor: pointer;
    outline: none;
    font-weight: 700;
    border: 0;
    background-color: #4a90e2;
    color: white;
    height: 40px;
    line-height: 1.15;
    font-size: 100%;
    width: 200px;
  }
}