@import 'index';

.select {
  margin-bottom: 40px;
  h4 {
    font-size: 13px;
    margin-bottom: 20px;
  }

  .select_item {
    font-size: 14px;
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 15px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .select_item input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 14px;
    width: 14px;
    border: 1px solid #2196F3;
    border-radius: 50%;
  }

  .select_item input:checked ~ .checkmark {
    background-color: #2196F3;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .select_item input:checked ~ .checkmark:after {
    display: block;
  }

  .select_item .checkmark:after {
    top: 4px;
    left: 4px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: white;
  }

}
