@import "index";

.submit_order {
  @include for-tablet-landscape-up {
    padding-left: 0;
    min-width: 100%;
  }
  flex: 1;
  max-width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  margin-top: 38px;
  border-top: 1px solid #eaeaea;

  span {
    margin-right: 6px;
  }

  .price {
    margin: 30px;
    color: #333;
    font-size: 22px;
    font-weight: 700;
  }

  .submit_button {
    max-width: 280px;
    margin-top: -5px;
    font-weight: 700;
    width: 100%;
    background: #1b5dab;
    height: 100%;
    font-sizE: 16px;
    color: #ffffff;
    border-radius: 12px;
    padding: 7px 30px;

    &:focus {
      outline: 0;
    }
  }

  .estimated_time {
    margin-top: -30px;
    margin-bottom: 15px;
    font-size: 15px;
    color: #999999;
  }
}